/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --body-clr: #e4e9f7;
  --sidebar-clr: #343a40;
  --primary-clr: #695cfe;
  --primary-clr-hover: #4a3bf0;
  --white-clr: #fff;
  --red-clr: #ef0026;
  --green-clr: #00946b;
  --text-clr: #c2c7d0;

  /* ====== Transition ====== */
  --tran-03: all 0.3s ease;
  --tran-05: all 0.5s ease;
}

/* ====== Css reset ====== */

html,
body {
  overflow-x: hidden;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%; /* font-size: 10px; */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--body-clr);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

::selection {
  background-color: var(--primary-clr);
  color: var(--white-clr);
}

.container {
  width: 100%;
  max-width: 192rem;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.spacer {
  height: 3rem;
  margin: 0 0 -3rem 0;
  background: transparent;
}

/* ====== Button Style Css ====== */

.btn-primary,
.btn-secondary,
.form-btn button,
.reset-form-btn button {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.btn-primary {
  background: var(--primary-clr);
  color: var(--white-clr);
}

.form-btn-primary {
  background: var(--primary-clr);
  color: var(--white-clr);
  border: none;
}

.btn-secondary,
.form-btn-secondary {
  color: var(--sidebar-clr);
  background: var(--body-clr);
  border: 1px solid #cacaca;
}

.modal-btn button {
  width: 100%;
}

.form-btn-primary:hover,
.btn-primary:hover {
  background: var(--primary-clr-hover);
}

.btn-secondary:hover,
.reset-form-btn button:hover,
.form-btn-secondary:hover {
  border-color: var(--primary-clr);
}

.btn-group {
  margin: 3rem 0;
}

.red {
  color: var(--red-clr);
}

/* ===== Sidebar ===== */

.sidebar {
  position: fixed;
  margin-top: 0;
  margin-left: 0;
  height: 100%;
  width: 25rem;
  padding: 1rem 1.4rem;
  background: var(--sidebar-clr);
  transform: translateX(-100%);
  transition: var(--tran-05);
  z-index: 1200;
}

.open .sidebar {
  transform: translateX(0);
}

.sidebar li {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 6rem;
  border-radius: 6px;
}

.sidebar .icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-clr);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 1.7rem;
  font-weight: 500;
  white-space: nowrap;
}

/* ====== Sidebar Header ====== */

.sidebar header {
  position: relative;
}

.image-text {
  display: flex;
  align-items: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
}
.image-text .name {
  margin-top: 2px;
  font-size: 1.8rem;
  font-weight: 600;
}

.image-text .profession {
  font-size: 1.6rem;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 4rem;
  border-radius: 6px;
}

.sidebar .menu {
  margin-top: 4rem;
}

.sidebar li a {
  list-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-clr);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--white-clr);
}

.sidebar .menu-bar {
  height: calc(100% - 5.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}

/* ====== Sidebar Blue Chevron Icon ====== */

.sidebar header .toggle-ch {
  display: none;
}

.open .sidebar header .toggle-ch {
  position: absolute;
  top: 2.8rem;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  cursor: pointer;
  transform: translateY(-50%) rotate(180deg);
  transition: var(--tran-05);
}

.sidebar.close .toggle {
  display: none;
}

.open .bx-chevron-right {
  display: block;
}

/* ====== Head Navigation ====== */

.nav-head {
  height: 7.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--white-clr);
  border-bottom: 1px solid #dee2e6;
  transition: var(--tran-05);
}

.open .menu-toggle {
  display: none;
}

.menu-toggle,
.right-side {
  color: var(--text-clr);
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
}

.menu-toggle {
  left: 2.5rem;
}

.right-side {
  right: 2.5rem;
  display: flex;
}

.right-side a {
  color: var(--text-clr);
}

.profile {
  margin-left: 2rem;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--text-clr);
}

/* ====== Dropdown Styling Part ====== */

.create,
.profile {
  position: relative;
}

.create ul,
.profile-links {
  align-items: center;
  background: var(--sidebar-clr);
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin-top: 1.9rem;
  position: absolute;
  right: 0px;
  transition: var(--tran-05);
  width: 20rem;
}

.profile-links {
  margin-top: 2.3rem;
}

.create li,
.profile li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create li a,
.profile li a {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1rem 2rem;
  width: 100%;
}

.create li a:hover,
.create li a:focus,
.profile li a:hover,
.profile li a:focus {
  color: var(--white-clr);
}

.create button {
  color: var(--text-clr);
  background: transparent;
  font-size: 2.2rem;
  border: none;
  cursor: pointer;
}

.dropdown.open .create ul,
.profile.open ul {
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

.profile li a {
  display: flex;
  align-items: center;
}

.profile li a .icon {
  font-size: 2.2rem;
  margin-right: 1rem;
}

/* ====== Home Section ====== */

.home {
  position: absolute;
  top: 7.2rem;
  left: 0;
  height: calc(100% - 7.2rem);
  width: 100%;
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: var(--body-clr);
  transition: var(--tran-05);
}

.heading {
  margin-bottom: 1rem;
}

.heading h1 {
  font-size: 1.8rem;
  color: var(--sidebar-clr);
}

.heading p {
  font-size: 1.3rem;
}

.heading a {
  color: var(--primary-clr);
}

/* ====== Home Info Boxes Style Css ====== */

.info-box {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 1.5rem 0;
}

.info-box span {
  font-size: 1.3rem;
}

.info-box p {
  font-size: 1.4rem;
}

.info-box a {
  color: var(--primary-clr);
}

.info-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--text-clr);
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}
.box-one,
.box-two,
.box-three {
  margin-bottom: 3rem;
}

.box-two h2,
.box-two h2 {
  padding-bottom: 1.5rem;
}

.box-three {
  position: relative;
}

.status.flex-center i {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chartContainer {
  height: 200px;
  width: auto;
  position: relative;
}

#myChart {
  height: 10rem;
}

.info-group .btn-secondary {
  display: inline-block;
  text-align: center;
  width: 100%;
}

/* ====== Tabs ====== */

.hide {
  transform: scale(0);
  display: none;
}

.tabs {
  padding: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.tabs button,
.scroll-tabs button {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--sidebar-clr);
  margin-right: 0.8rem;
  padding-bottom: 0.5rem;
  min-width: max-content;
  border: none;
  background: none;
  cursor: pointer;
}

.tabs button.active,
.scroll-tabs button.active {
  color: var(--primary-clr);
  border-bottom: 1px solid var(--primary-clr);
}

.full-width {
  width: 100%;
  border: 1px dotted;
}

/* ====== Table Style ====== */

.table {
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
}

.table-section {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  background: var(--white-clr);
  width: 100%;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 2rem;
}

thead th {
  text-transform: uppercase;
  font-weight: 700;
}

th,
td {
  padding: 1rem 2em;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  max-width: 50ch;
}

td a {
  color: var(--primary-clr);
}

th img,
td img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  object-fit: cover;
  /* max-width: 100%; */
}

td.img-name img {
  border-radius: 50%;
}

.akcija > div,
.status > div,
.img-name > div,
.img-name-auth > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

td .book {
  width: 2.5rem;
  height: 3rem;
  max-width: 100%;
  object-fit: contain;
}

td.danger {
  color: var(--red-clr);
  font-weight: 700;
}

td.reserved {
  color: var(--primary-clr);
  font-weight: 700;
}

td.success {
  color: var(--green-clr);
  font-weight: 700;
}

td.status i,
td.akcija i {
  font-size: 2.5rem;
}

td.status i {
  margin-right: 1rem;
}
td.akcija i.bx-check,
td.status i.bx-check {
  color: var(--green-clr);
}

td.akcija i.bx-x,
td.status i.bx-x {
  color: var(--red-clr);
}

table i {
  cursor: pointer;
  font-size: 1.8rem;
}

table i.bx-edit,
table i.bx-trash {
  padding-left: 2rem;
}

td.edit i {
  color: var(--primary-clr);
}
td.delete i {
  color: var(--red-clr);
}

/* ====== Input Styles Css ====== */

.search {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  -ms-transform: scale(1.1); /* IE */
  -moz-transform: scale(1.1); /* FF */
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
  padding: 0.8rem;
}

.search {
  width: 18rem;
  position: relative;
}

.search-book {
  background: var(--white-clr);
  width: 100%;
  position: relative;
}

input:not([type="checkbox"]),
select,
.search input,
.search-book input {
  height: 3.9rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0 6rem 0 1.5rem;
  font-size: 1.2rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

textarea:focus,
input:focus,
.search input:focus,
.search-book input:focus {
  outline: none;
  border: 1px solid;
  border-color: var(--primary-clr);
}

input[type="date"] {
  width: 22rem;
  padding: 0 1.5rem;
}

.search .icon,
.search-book .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 4rem;
  width: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
  color: var(--primary-clr);
  cursor: pointer;
}

/* ====== Table Pagination Style ====== */

.table-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--white-clr);
  padding: 1rem 2rem;
}

.table-pagination > * {
  margin-left: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-pagination i {
  color: var(--text-clr);
  font-size: 2rem;
  cursor: pointer;
}

.table-pagination i:hover {
  color: var(--primary-clr);
}

.align-center {
  text-align: center;
}

/* ====== Forms ====== */

.table .column {
  margin-bottom: 1.5rem;
}

label {
  color: var(--sidebar-clr);
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ck-editor__editable_inline {
  min-height: 20rem;
}

textarea:focus,
input:focus {
  outline: none;
  border-color: var(--primary-clr);
}

.form-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.img-column {
  display: inline-block;
  padding: 7rem;
  border: 1px solid var(--text-clr);
  text-align: center;
}

.img-column > input {
  display: none;
}

.img-column i {
  font-size: 10rem;
  cursor: pointer;
}

.form-btn {
  margin-top: 2rem;
  text-align: center;
}

.about-p {
  max-width: 50ch;
}

/* ====== Profile Page ====== */

.profile-main {
  display: flex;
  flex-direction: column-reverse;
}

.profile-main a {
  color: var(--primary-clr);
}

.profile-right {
  margin-bottom: 3rem;
}

.profile-pic {
  width: 25rem;
  border: 2px solid var(--sidebar-clr);
}

.profile-pic img {
  display: block;
}

.info-span,
.book-p {
  font-size: 1.3rem;
  color: var(--sidebar-clr);
}

.edit-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.edit-column a {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.scroll-tabs {
  padding: 2rem 0 1rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  overflow-x: auto;
  scrollbar-width: none;
}

/* ====== Modals and Overlay Css====== */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  cursor: pointer;
}

#modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2100;
}

.form-container,
.form-container-edit {
  padding: 4rem;
  width: 35rem;
}

.form-container {
  background: var(--body-clr);
}

.form-container-edit {
  background: var(--white-clr);
  width: 30rem;
}

.form-container h1 {
  color: var(--sidebar-clr);
  padding-bottom: 1rem;
}

.form-container .column {
  margin-top: 1rem;
}

.form-container-edit .column {
  margin-top: 1.2rem;
}

.form-container-edit .column a {
  display: flex;
  align-items: center;
}

.form-container-edit a {
  font-size: 1.5rem;
  color: var(--sidebar-clr);
}

.form-container-edit i {
  font-size: 2rem;
  padding-right: 1rem;
}

.form-container-edit a:hover,
.form-container-edit i:hover,
.form-container-edit a:focus,
.form-container-edit i:focus {
  color: var(--primary-clr);
}

.edit-column a {
  color: var(--primary-clr);
}

.edit-column a:hover {
  color: var(--primary-clr-hover);
}

.reset-form-btn {
  margin-top: 2rem;
  text-align: center;
}

/* ====== Settings - Policy Css Styles S====== */

.policy-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.policy-column h2,
.policy-right h2 {
  margin-bottom: 1.5rem;
}

.policy-column p {
  font-size: 1.3rem;
}

.policy-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.policy-column input {
  margin-right: 1rem;
}

/* ====== Book Style Css  ====== */

.profile-right p {
  max-width: 45ch;
}

.book-info-right {
  padding: 2rem 0;
}

.book-statistic p {
  padding: 0.5rem 0;
}

.unavailable-book h2 {
  font-size: 1.8rem;
  color: var(--red-clr);
  margin-bottom: 2rem;
}

.book-heading {
  font-size: 1.8rem;
  color: var(--sidebar-clr);
}

.unavailable-book p {
  margin-bottom: 2rem;
}

.btn-group .btn-primary {
  display: none;
}

.show-news {
  color: var(--primary-clr);
  font-size: 1.4rem;
}

#edit-table,
#delete-table {
  background: #78a4f7;
}

#edit-table a,
#delete-table a {
  color: var(--white-clr);
}

/* ====== Media Queries for Ipad and Up ====== */

@media screen and (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebar.close {
    width: 8.8rem;
  }

  .sidebar.close .text {
    opacity: 0;
  }

  .nav-head {
    left: 25rem;
    width: calc(100% - 25rem);
  }

  .home {
    left: 25rem;
    width: calc(100% - 25rem);
  }

  .sidebar.close ~ .home {
    left: 8.8rem;
    width: calc(100% - 8.8rem);
    height: calc(100% - 7.2rem);
  }

  .sidebar.close ~ .nav-head {
    left: 8.8rem;
    width: calc(100% - 8.8rem);
  }

  .heading h1 {
    font-size: 2.2rem;
  }

  .form-btn button,
  .reset-form-btn button,
  .btn-primary,
  .btn-secondary {
    font-size: 1.7rem;
  }

  .search {
    width: 30rem;
  }

  .search-book {
    width: 40rem;
  }

  .search input,
  .search-book input {
    height: 4.6rem;
    padding: 0 8rem 0 1.5rem;
    font-size: 1.7rem;
    color: var(--sidebar-clr);
  }

  .search .icon,
  .search-book .icon {
    font-size: 2rem;
    height: 4.8rem;
    width: 4.8rem;
    line-height: 4.8rem;
  }

  .form-main {
    display: flex;
    gap: 2rem;
  }

  .form-main.flex-rev {
    flex-direction: row-reverse;
  }

  .hide {
    transform: scale(0);
    display: none;
  }

  .form-main > * {
    flex: 1;
  }

  .form-btn {
    text-align: left;
  }

  .form-right {
    margin-top: 0;
  }

  .tabs {
    flex-direction: row;
  }

  .info-span,
  .book-p {
    font-size: 1.5rem;
  }

  .profile-main {
    padding-top: 4rem;
    flex-direction: row;
  }

  .profile-main > * {
    flex: 1;
  }

  .edit-column a {
    font-size: 1.5rem;
  }
  .info-box {
    flex-direction: row;
  }
}

/* ====== Media Queries for Laptops and Up ====== */

@media screen and (min-width: 992px) {
  .info-group .btn-secondary {
    width: 68rem;
  }
  .policy-column {
    flex-direction: row;
    gap: 3rem;
  }

  .policy-column input {
    width: 10rem;
  }

  .policy-column > * {
    flex: 1;
  }

  .about-p {
    max-width: 45ch;
  }

  #myChart {
    height: 13rem;
  }
}

/* ====== Media Queries for Big Screens ====== */

@media screen and (min-width: 1250px) {
  .box-group {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
  }

  .box-one {
    min-width: 80rem;
  }

  .box-one {
    grid-area: 1 / 1 / 3 / 2;
  }
  .box-two {
    grid-area: 1 / 2 / 2 / 3;
  }
  .box-three {
    grid-area: 2 / 2 / 3 / 3;
  }

  .box-one,
  .box-two,
  .box-three {
    margin-bottom: 0;
  }

  .book-container {
    display: flex;
    gap: 2rem;
  }
}
